:root{
    --primary-color: #03bafc;
    --secondary-color: #03cffc;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F9FAFB;
}

.flex{
    display: flex;
}

.card{
    max-width: 40%;
    margin: 15rem auto;
    border: 2px solid var(--primary-color);
    display: flex;
    flex-direction: column ;
    border-radius: 0.5rem;
    box-shadow: 8px 8px 30px rgb(209, 209, 209);
}

.profile .flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.profile > .flex > *:nth-child(2){
    flex-grow: 4;
}


.profile span{
    display: inline;
}

.profile img{
    max-width: 6rem;
    border-radius: 50rem;
    margin: 0.5rem;
    padding: 0.1rem;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.details {
    display: flex;
    cursor: pointer;
}

.name{
    margin-top: 0.5rem;
    margin-left: 0;
    padding: 1rem;
    font-weight: bolder;
    font-size: 21px;
}

.title{
    color: gray;
    font-size: 13px;
}


.follow{
    padding: 2rem;
}

.follow span{
    background-color: var(--primary-color);
    color: white;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.follow span:hover{
    background-color: var(--secondary-color);
}

.content{
    margin-left: 0.9rem;
    padding: 0.4rem;
    font-size: 24px;
    font-weight: 500;
}

.likes{
    padding: 1rem;
    font-size: 1.3rem;
}

.count{
    color: red;
}

.heart:hover{
    cursor: pointer;
    transform: rotate(360deg);
}

@media screen and (max-width: 860px){
    .card{
        max-width: 80%;
    }
}